%h1
  %strong Spark School Blog
- if current_user && current_user.admin?
  .well
    %p.lead Admin controls
    = link_to "Create new post", new_blog_path, class: "btn btn-default"
    - if @blog
      = link_to "Edit post", edit_blog_path(@blog), class: "btn btn-default"
      = link_to "Delete post", blog_path(@blog), class: "btn btn-danger", confirm: "Are you sure?", method: :delete
.well
  %p.lead Stay updated with our newsletter!
  %p Sign up and we will keep you updated when we post new content.
  = simple_form_for @newsletter_user, url: newsletter_path do |f|
    = f.input_field :email, class: "form-control", placeholder: "example@domain.com"
    %br
    = f.button :submit, "Keep me posted", class: "btn-warning"


.well
  %p.lead Working on something awesome?  Let us know.
  = form_tag blog_hack_and_tell_path, class: 'simple_form' do
    %p We're really interested in seeing what you build with Spark School's help.  Whether you're creating a life-changing product or a helpful hack, we want to hear about it.
    = email_field_tag 'email', nil, placeholder: 'Your email', class: 'form-control'
    %br
    = text_area_tag 'message', nil, placeholder: 'Your awesome project.', rows: 4, cols: 38, class: 'form-control'
    %br
    %br
    = submit_tag 'Let us know', class: 'btn btn-warning'

