mixin twitter_clone_purchase_tracking
    script.
        ga('send', 'event', 'Twitter Clone', 'purchase');
        fbq('track', 'Purchase', {
            value: 10.00,
            currency: 'USD'
        });

mixin twitter_clone_lead_tracking
    script.
        ga('send', 'event', 'Lead', 'subscribe');
        fbq('track', 'Lead', {
            value: 10.00,
            currency: 'USD'
        });

mixin get_job_as_developer_map_lead_tracking
    script.
        ga('send', 'event', 'Lead', 'subscribe');
        fbq('track', 'Lead', {
            value: 10.00,
            currency: 'USD'
        });

mixin weekly_email_form(origin)
    - origin = origin || '/'
    form.signup-form.text-center(action='/become-a-software-dev-email-series/signup' method='POST')
        h3.bold Take the first step!
        p.light
            | Enter your email and to receive my
            b &nbsp;FREE weekly email series
            | &nbsp;to teach you how to become a
            b &nbsp;software developer.
        if query.error
            p.error
                i.fa.fa-warning
                = query.error
        input(type='hidden' name='origin' value=origin)
        .input-group
            input(type='text' name='email' placeholder='Enter your email' value=query.email)
        button.yellow Sign up for FREE!
mixin take_tutorial_form(origin)
    - origin = origin || '/'
    form.signup-form.text-center(action='/nodejs-tutorial/signup' method='POST')
        h3.bold Take the first step!
        a.button.block(href='/tutorials/build-and-deploy-nodejs-app-to-heroku/intro') Click here to start the FREE tutorial!

        br
        br

        h3.bold Don't have time right now?
        p.light Enter your email and we'll send the tutorial to you so you can take it later.
        if query.error
            p.error
                i.fa.fa-warning
                = query.error
        input(type='hidden' name='origin' value=origin)
        .input-group
            input(type='text' name='email' placeholder='Enter your email' value=query.email)
        button.yellow Take the tutorial later

mixin twitter_purchase_form(origin, heading)
    script(
        src='https://code.jquery.com/jquery-2.2.4.min.js'
        integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44='
        crossorigin='anonymous'
    )
    script(type='text/javascript' src='https://js.stripe.com/v2/')
    script(type='text/javascript').
        Stripe.setPublishableKey('#{stripePublicKey}');

    form.signup-form#payment-form(action='/twitter-clone/purchase' method='POST')
        h3= heading || 'Get the course for only $10!'

        if query.error
            p.error
                i.fa.fa-warning
                = query.error
        else
            p.error(style="display: none;")= error

        input(type='hidden' name='origin' value=origin)
        .input-group.email-group
            label(for='email') Email
            input#email(type='text' name='email' placeholder='user@domain.com' value=query.email)
        .input-group.cc-group
            label(for='cc-number') Credit Card
            input(
                type='text'
                id='cc-number'
                placeholder='4242'
            )
        div
            .input-group.exp-month-group
                label(for='exp-month') Month
                select(id='exp-month')
                    option(value='01') January (01)
                    option(value='02') February (02)
                    option(value='03') March (03)
                    option(value='04') April (04)
                    option(value='05') May (05)
                    option(value='06') June (06)
                    option(value='07') July (07)
                    option(value='08') August (08)
                    option(value='09') September (09)
                    option(value='10') October (10)
                    option(value='11') November (11)
                    option(value='12') December (12)
            .input-group.exp-year-group
                label(for='exp-year') Year
                select(id='exp-year')
                    option(value='17') 2017
                    option(value='18') 2018
                    option(value='19') 2019
                    option(value='20') 2020
                    option(value='21') 2021
                    option(value='22') 2022
                    option(value='23') 2023
            .input-group.cvc-group
                label(for='cvc') CVC
                input(type='password' id='cvc' placeholder="***")
        button.yellow Purchase The Course

    form.signup-form#paypal-form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
        h3.text-center.margin-small Or pay with PayPal!
        p.light We'll send the course to your PayPal email.
        input(type="hidden" name="cmd" value="_s-xclick")
        input(type="hidden" name="hosted_button_id" value="S7VF865JX84QU")
        input(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
        img(alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")

    script(type='text/javascript').
      var $form = $('#payment-form');
      var $submitButton = $form.find('button');
      var $errorEl = $('p.error');
      var $iconEl = $('<i class="fa fa-warning"></i>');

      $form.submit(function(event) {
        // Disable the submit button to prevent repeated clicks:
        $submitButton.prop('disabled', true);

        $errorEl.hide();

        var card = {
            number: $form.find('#cc-number').val(),
            exp_month: $form.find('#exp-month').val(),
            exp_year: $form.find('#exp-year').val(),
            cvc: $form.find('#cvc').val(),
        };

        Stripe.card.createToken(card, function (status, result) {
            var token = result.id;
            var error = result.error;

            if (error) {
                $errorEl.html('');
                $errorEl.append($iconEl);
                $errorEl.append(error.message);
                $errorEl.show();
                $submitButton.prop('disabled', false);
                return;
            }

            var $stripeTokenEl = $('<input type="hidden" name="stripeToken" />')
            $stripeTokenEl.val(token);

            $form.append($stripeTokenEl);
            $form.get(0).submit();
        });

        // Prevent the form from being submitted
        return false;
      });


mixin saas_course_signup_form
    form.signup-form(action='/user/saas-course/create' method='POST')
        h3 Sign Up For The 6 Week Course
        .input-group.full-name-group
            label(for='full-name') Full Name
            input#full-name(type='text' name='full_name' placeholder='Ex. John Doe')
        .input-group.email-group
            label(for='email') Email
            input#email(type='text' name='email' placeholder='user@domain.com')
        .input-group.password-group
            label(for='password') Password
            input#password(type='password' name='password' placeholder='********')
        button Get The Course

mixin light_gray_CTA_anchor_section(button_text)
    .section.cta.light-gray
        .container
            a.button(href='#sign-up')= button_text

mixin white_CTA_anchor_section(button_text)
    .section.cta
        .container
            a.button(href='#sign-up')= button_text

mixin saas_signup_anchor_cta_section(button_text)
    .section.cta.light-gray
        .container
            a.button(href='#sign-up')= button_text

mixin twitter_clone_signup_cta_section(button_text)
    .section.cta.light-gray
        .container
            a.button(href='/signup')= button_text

mixin weekly_email_meet_the_instructor()
    .section
        .container
            .description
                h2 Hey, I'm Shane!
                p I'm Shane and I will be teaching you how to become a software developer! I’ve been a software developer for a little over 5 years now, and have worked at Yelp, Carfax, and a startup called SumoMe.

                p The crazy part is I didn’t go to college to be a software developer. In fact, I am completely self-taught.

                p
                    | I've spent the last 5 years teaching myself software development and over time, I have learned what works and what doesn't. Now, I want to use my knowledge to help
                    b &nbsp;get a job as a software developer as quickly as possible.
            .graphic
                img.circle(src="https://s3.amazonaws.com/spark-school/me_and_yogi.png" alt="Shane Burkhart with his dog, Yogi.")

mixin short_twitter_meet_the_instructor()
    .section
        .container
            .description
                h2 Meet The Instructor
                p Hey, I'm Shane! I’ve been a software developer for a little over 5 years now, and have worked at Yelp, Carfax, and a startup called SumoMe.

                p The crazy part is I didn’t go to college to be a software developer. In fact, I am completely self-taught.
                p
                    | I've spent the last 5 years teaching myself software development and over time, I have learned what works and what doesn't. Now, I want to use my knowledge to help
                    b &nbsp;get a job as a software developer as quickly as possible.

            .graphic
                img.circle(src="https://s3.amazonaws.com/spark-school/me_and_yogi.png" alt="Shane Burkhart with his dog, Yogi.")

mixin twitter_meet_the_instructor()
    .section
        .container
            .description
                h2 Meet The Instructor
                p Hey, I'm Shane! I’ve been a software developer for a little over 5 years now, and have worked at Yelp, Carfax, and a startup called SumoMe.

                p The crazy part is I didn’t go to school to be a software developer. In fact, I am completely self taught.

                p Probably not unlike some of you, when I first started learning to code, I didn't know what I was doing so it took me much longer than it should have to learn. My goal is to fix that. This course is designed so you don't ever have to go through the same unnecessarily long process I did.

                p I've spent the last 5 years teaching myself software development and over time, I have learned what works and what doesn't. Now, I want to use my course to help you learn as efficiently as possible.
            .graphic
                img.circle(src="https://s3.amazonaws.com/spark-school/me_and_yogi.png" alt="Shane Burkhart with his dog, Yogi.")

mixin saas_course_meet_the_instructor()
    .section
        .container
            .description
                h2 Meet The Instructor
                p Hey, I'm Shane the creator of the Twitter clone course and I'm back to teach you how to build a SaaS web app.

                p I've been a web developer for about 5 years and have worked at Yelp, Carfax and a startup called SumoMe. The crazy part is, I'm completely self taught.

                p When I started teaching myself, I had no idea what I was doing and no one to point me in the right direction. Because of this, it took me longer than it should have to learn.

                p I made mistakes when starting, but that doesn't mean you have to. This is the course I wish I had when I was starting!
            .graphic
                img.circle(src="https://s3.amazonaws.com/spark-school/me_and_yogi.png" alt="Shane Burkhart with his dog, Yogi.")
