mixin purchase_tracking(price, description)
    script.
        ga('send', 'event', description, 'purchase');
        fbq('track', 'Purchase', {
            value: price,
            currency: 'USD'
        });

mixin lead_tracking
    script.
        ga('send', 'event', 'Lead', 'subscribe');
        fbq('track', 'Lead');

mixin error_notice
    if query.error
        p.error
            i.fa.fa-warning
            = query.error
    else
        p.error(style="display: none;")

mixin payment_form_scripts()
    script(
        src='https://code.jquery.com/jquery-2.2.4.min.js'
        integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44='
        crossorigin='anonymous'
    )
    script(type='text/javascript' src='https://js.stripe.com/v2/')
    script(type='text/javascript').
        Stripe.setPublishableKey('#{stripePublicKey}');

    script(type='text/javascript').
      var $form = $('#payment-form');
      var $submitButton = $form.find('button');
      var $errorEl = $('p.error');
      var $iconEl = $('<i class="fa fa-warning"></i>');

      $form.submit(function(event) {
        // Disable the submit button to prevent repeated clicks:
        $submitButton.prop('disabled', true);

        $errorEl.hide();

        var card = {
            number: $form.find('#cc-number').val(),
            exp_month: $form.find('#exp-month').val(),
            exp_year: $form.find('#exp-year').val(),
            cvc: $form.find('#cvc').val(),
        };

        Stripe.card.createToken(card, function (status, result) {
            var token = result.id;
            var error = result.error;

            if (error) {
                $errorEl.html('');
                $errorEl.append($iconEl);
                $errorEl.append(error.message);
                $errorEl.show();
                $submitButton.prop('disabled', false);
                return;
            }

            var $stripeTokenEl = $('<input type="hidden" name="stripeToken" />')
            $stripeTokenEl.val(token);

            $form.append($stripeTokenEl);
            $form.get(0).submit();
        });

        // Prevent the form from being submitted
        return false;
      });

mixin light_gray_CTA_anchor_section(button_text)
    .section.cta.light-gray
        .container
            a.button(href='#sign-up')= button_text

mixin white_CTA_anchor_section(button_text)
    .section.cta
        .container
            a.button(href='#sign-up')= button_text

mixin guide_meet_the_instructor()
    .section
        .container
            .description
                h2 Meet The Instructor
                p Hey, I'm Shane! I’ve been a software developer for a little over 5 years now, and have worked at Yelp, Carfax, and a startup called SumoMe.

                p The crazy part is I didn’t go to college to be a software developer. In fact, I am completely self-taught.
                p
                    | I've spent the last 5 years teaching myself software development and over time, I have learned what works and what doesn't. Now, I want to use my knowledge to help
                    b &nbsp;get a job as a software developer as quickly as possible.

            .graphic
                img.circle(src="https://s3.amazonaws.com/spark-school/me_and_yogi.png" alt="Shane Burkhart with his dog, Yogi.")
