extends ../layouts/landing-page-no-header
include ../landing-pages/mixins

block variables
   - var title = 'Get The Guide To Landing Your Dream Job!';

block no_hero

block content
    .section.dark-blue.signup-section#sign-up
        .container
            .description
                h2.bold Learn At Your Own Pace!
                p The email series you signed up for will teach you how to get a job as a developer, but you'll only receive each step once a week over the next few months.
                p.bold If you would rather learn at your own pace, I'm offering the full process as a PDF guide for only $7.
                p In this guide, you'll learn:
                ul
                    li The process for getting a job as a software developer!
                    li Which programming languages you should learn first
                    li Where you will find the best learning resources
                    li Which projects to build to impress employers
                    li How to prepare yourself to apply for jobs
                    li The ideal type of company to apply for
                    li And a lot more...
                br
                br
                p
                    | With this full PDF guide, you will have
                    b &nbsp;everything you need to get a job as a developer.
                    | &nbsp;Sign up now to change your career and get the full guide to becoming a software developer for only $7!

            .graphic
                form.signup-form#paypal-form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
                    h3 Get the guide for only $7!
                    p.light We'll send the guide to your PayPal email.
                    input(type="hidden" name="cmd" value="_s-xclick")
                    input(type="hidden" name="hosted_button_id" value="94LQ789B2B5UE")
                    input(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
                    img(alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")

                form.signup-form#payment-form(action='/become-a-developer-guide/purchase' method='POST')
                    h3.text-center.margin-small Or pay with a credit card!
                    if query.error
                        p.error
                            i.fa.fa-warning
                            = query.error
                    else
                        p.error(style="display: none;")= error

                    input(type='hidden' name='origin' value=origin)
                    .input-group.email-group
                        label(for='email') Email
                        input#email(type='text' name='email' placeholder='user@domain.com' value=query.email)
                    .input-group.cc-group
                        label(for='cc-number') Credit Card
                        input(
                            type='text'
                            id='cc-number'
                            placeholder='4242'
                        )
                    div
                        .input-group.exp-month-group
                            label(for='exp-month') Month
                            select(id='exp-month')
                                option(value='01') January (01)
                                option(value='02') February (02)
                                option(value='03') March (03)
                                option(value='04') April (04)
                                option(value='05') May (05)
                                option(value='06') June (06)
                                option(value='07') July (07)
                                option(value='08') August (08)
                                option(value='09') September (09)
                                option(value='10') October (10)
                                option(value='11') November (11)
                                option(value='12') December (12)
                        .input-group.exp-year-group
                            label(for='exp-year') Year
                            select(id='exp-year')
                                option(value='17') 2017
                                option(value='18') 2018
                                option(value='19') 2019
                                option(value='20') 2020
                                option(value='21') 2021
                                option(value='22') 2022
                                option(value='23') 2023
                        .input-group.cvc-group
                            label(for='cvc') CVC
                            input(type='password' id='cvc' placeholder="***")
                    button.yellow Get The Guide For Only $7!

                +payment_form_scripts()

    +short_twitter_meet_the_instructor()

    +weekly_email_series_lead_tracking()
