- content_for :title, "Preorder"
.page-header.preorders-bg
  .container
    %h1 Preorder Your Kit
    %p Our courses work directly with our kits.  It's as if we are there!

.container
  .row
    .col-md-6
      %h2 The Kit.
      .component-container
        = image_tag "intro-bg.jpg"
        %p ATtiny84 Microcontroller
      .component-container
        = image_tag "intro-bg.jpg"
        %p ATtiny84 Microcontroller
      .component-container
        = image_tag "intro-bg.jpg"
        %p ATtiny84 Microcontroller
      .component-container
        = image_tag "intro-bg.jpg"
        %p ATtiny84 Microcontroller
      .component-container
        = image_tag "intro-bg.jpg"
        %p ATtiny84 Microcontroller
      .component-container
        = image_tag "intro-bg.jpg"
        %p ATtiny84 Microcontroller
      .component-container
        = image_tag "intro-bg.jpg"
        %p ATtiny84 Microcontroller
      .component-container
        = image_tag "intro-bg.jpg"
        %p ATtiny84 Microcontroller

    .col-md-6
      %h2 Preorder.
      .text-center
        %p.price $129


