.row
  .col-md-8
    = simple_form_for [@course, @unit, @lesson] do |f|
      .row
        .col-md-12
          = f.input :name, input_html: {class: "form-control"}
      .row
        .col-md-4
          = f.input :lesson_number, input_html: {class: "form-control"}
      .row
        .col-md-12
          = f.input :description, input_html: {class: "form-control"}
      .row
        .col-md-12
          = f.input :body, input_html: {class: "form-control", rows: 10}

      = f.input :unit_id, as: :hidden, input_html: {value: params[:unit_id]}

      %br

      = f.button :submit, class: "btn"
  .col-md-4
    %p.lead Lesson Numbers
    - @lessons.each do |lesson|
      .row
        .col-md-12
          %p
            = lesson.lesson_number
            = lesson.name
