!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Spark Academy'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Spark Academy'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    - unless current_page? root_path
      %header
        = render 'layouts/navigation'
    %main{:role => "main", class: current_page?(root_path) ? "" : "navbar-offset"}
      = render 'layouts/messages'
      = yield
      %footer
